* {
    box-sizing: border-box;
}

body { 
    background-image: url('https://www.industryweek.com/sites/industryweek.com/files/styles/article_featured_retina/public/uploads/2017/05/teamwork.jpg?itok=U5ZihnwP');
    display: flex;
    flex-direction: column;
}

/* nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Merriweather Sans', sans-serif;
    width:100%;
    padding: 20px;
    background-color: whitesmoke;
    color:#141719;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
} */

 ul {
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#banner {
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
#banner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

