* {
    box-sizing: border-box;
}

body { 
    background-image: url('http://www.ipma.world/assets/distributed-team.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    padding: 20px;
}

img {
    opacity: 0.5;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Merriweather Sans', sans-serif;
    width:100%;
    padding: 10px;
    background-color: whitesmoke;
    color:#141719;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-decoration: none;
    margin: 0;
   
    
}
#navLinks {
    border: 3px solid blue;
    text-decoration: none;
}

#home {
    border: 2px solid blue;
    justify-content: center;
}

#banner h1 {
    position: relative;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    background-color: white;
    border: 7px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about {
    flex-direction: column;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leader-description, .member-description {
    background-color: white;
    border: 7px solid blue;
    padding: 10px;
    margin-top: 20px;
  
}

h3 {
    background-color: blue;
    color: white;
    padding: 20px;
    
}

.screenShots {
    flex-direction: column;
    text-align: center;
    border: 7px solid blue;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#get-started {
    background: blue;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    padding: 10px;
    font-size: medium;
    flex-direction: column;
    
}

h4 {
    background-color: white;
    padding: 10px;
    border: 7px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#recipient, #message-text {
    border: 7px solid blue;
    padding: 20px;
    width: 100%; 
}

#send-button{
    background: blue;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

h2 {
    background-color: blue;
    color: white;
    padding: 10px;
}

#reply-button {
    margin-bottom: 10px;
    background: blue;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: small;
    
}

.message-recipient li {
    list-style-type: none;
    background-color: white;
    border: 7px solid blue;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.responseButtons {
    border: 10px solid blue;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#turquoise-button {
    background: turquoise;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}
#green-button {
    background: green;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 10px;
    padding: 10px;
}
#red-button {
    background: red;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#yellow-button {
    background: yellow;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 5px;
}
#orange-button {
    background: orange;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
}
#blue-button {
    background: blue;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
}
#purple-button {
    background: purple;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
}
#pink-button {
    background: pink;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
}
#lightgreen-button {
    background: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
    
}
#lightblue-button {
    background: lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
}
#lavender-button {
    background: lavender;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
}

#home {
    margin-left: 40%;
    margin-bottom: 20px;
    padding: 5px;
    font-size: small;
}
footer p {
    text-align: center;
    line-height: 1.0;
    font-size: 12px;
}